/* Reset and base styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

a,
a:visited,
a:hover {
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p+p {
    margin-top: 1em;
}

ul {
    list-style: none;
}

img,
svg,
video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Form */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: none;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


/*--------------------*/

html {
    scroll-behavior: smooth; /* Плавная прокрутка */
}

/* ----------------------- HEADER -----------------------*/

.header{
    position: fixed;
    z-index: 100;

    width: 100%;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);

    background-color: #fff;

}

.header__container{
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.container {
    max-width: 1200px;
    margin: 0 auto; 

}

.header__navbar {
    display: flex;
    justify-content: space-between;

    align-items: center; 
    width: 100%;
}

.navbar__list ul{
    display: flex;
    gap: 50px;
}

.navbar__list a{
    font-family: "Open Sans", serif;
    
    text-align: center;

    font-weight: 600;
    font-size: 22px;
    line-height: 75%;
    letter-spacing: 0.08em;

    transition: all 0.3s ease;
}

.navbar__list a:hover{
    color:#be9824;
}

.navbar__list a:active{
    color: #a88210;
}



/* ----------------------- MAIN -----------------------*/



.main{
    font-family: "Roboto", serif;
    height: 100vh;

    background-color: #000;
    background-image: url(../image/vu-anh-TiVPTYCG_3E-unsplash.jpg);
    background-image: url(../image/vu-anh-gf4SgQ3vy-8-unsplash\ 2.jpg);
    background-size: cover;
    background-position: center;
    
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.4);

    color: #fff;

}



.main__content{
    position: absolute;
    left: 0;
    bottom: 0;

    background: rgba(40, 41, 43, 0.8);
    padding: 40px 35px 52px 120px;
    
}

.main__content h1{
    max-width: 990px;
    margin-bottom: 10px;

    font-weight: 300;
    font-size: 60px;
    line-height: 87%;
    letter-spacing: 0.08em;
}

.main__content span{
    background: linear-gradient(118deg, #d9af33 19.5%, #aa8c32 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__content p{
    max-width: 950px;

    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.08em;
}


/* ----------------------- SERVICES -----------------------*/

.services{
    font-family: "Open Sans", serif;

    padding-top: 100px;
    padding-bottom: 100px;

    width: 100%;

    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);

    scroll-margin-top: 110px;
}

.services__container{
    max-width: 1060px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    justify-content: center;
}

.services__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.08em;
    background: linear-gradient(133deg, #d9af33 24%, rgba(170, 140, 50, 0.85) 77.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-left: 0px;

    width: 320px;

    
}

.services__card{
    padding: 25px 2px 20px 12px;

    max-width: 320px;

    border: 1px solid #000;

    position: relative;

}

.icon__container{
    position: absolute;
    top: -30px;
    left: 50px;
    background-color: white;
    padding: 0 10px;
}

.services__card h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 155%;
    letter-spacing: 0.08em;
    color: #403f44;
}

.services__card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.08em;
    color: #403f44;
}


/* ----------------------- PLAN -----------------------*/

.plan{

    font-family: "Roboto", serif;

    width: 100%;

    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 100px;

    scroll-margin-top: 100px;
}

.plan .container{
    display: flex;
}

.plan__content{
    padding-top: 100px;
}

.plan__image button{
    transition: all 0.3s ease;
}

.plan__image button:hover{
    transform:scale(1.1)
}

.plan__image button:active{
    transform:scale(0.9)
}


.plan__content h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background: linear-gradient(135deg, #3d4045 28.78%, #6f7886 54.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding-bottom: 40px;
}

.plan__content p{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--quaternary-base);

    max-width: 550px;
    margin-right: 40px;
}

.plan__image{
    padding-top: 60px;
}

.plan__image .button-image{
    margin-top: 220px;
}


.plan__image img {
    transition: opacity 0.3s ease-in-out;
}


.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

/* ----------------------- PROJECT -----------------------*/

.project{
    font-family: "Roboto", serif;

    width: 100%;

    padding-bottom: 100px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.3);

    scroll-margin-top: 110px;
}

.project__container{
    max-width: 1300px;
    margin: 0 auto; 

    display: flex;
    justify-content: center;

}



.project-title h3{
    display: flex;
    justify-content: center;

    padding-bottom: 90px;
    margin-top: 50px;

    font-weight: 600;
    font-size: 80px;
    line-height: 112%;
    background: linear-gradient(130deg, #d9af33 19.5%, #c8a94c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.project__card{
    display: flex;
    width: 1000px;

    border-radius: 40px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    background: linear-gradient(154deg, #848993 0%, #535966 100%);




    position: relative;
}


.project__content h5{
    position: absolute;
    top: 50%; 
    right: 0%; 
    transform: translateY(-50%) rotate(270deg); 


    padding-top: 160px;
    opacity: 0.5;



    font-weight: 500;
    font-size: 50px;
    line-height: 76%;
    background: linear-gradient(230deg, #3249db 0%, #252545 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-two{
    position: relative;

    background: linear-gradient(153deg, #848993 0%, #535966 100%);
}

.card-two .project__content h5{
    position: absolute;
    top: 50%; 
    right: 50%;

    
}





.project__image{
    max-width: 500px;
}

.project__content{
    max-width: 500px;

    margin-left: 35px;
}

.project__content h4{
    font-weight: 600;
    font-size: 32px;
    line-height: 162%;
    background: linear-gradient(112deg, #d9af33 19.5%, #aa8c32 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 10px;
    margin-top: 18px;
}

.project__content p{
    max-width: 350px;

    margin-bottom: 80px;

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #e1e1f9;
}

.project__content button{
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(139deg, #d9af33 29.75%, #aa8c32 92.41%);

    font-weight: 500;
    font-size: 18px;
    line-height: 211%;
    color: #e1e1f9;

    padding: 11px 45px;

    transition: all 0.3s ease;
}

.project__content button:hover{
    transform: scale(1.05); /* увеличение кнопки при наведении */
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6); /* усиленная тень */
    background: linear-gradient(139deg, #e7b624 29.75%, #c9a63c 92.41%);
    cursor: pointer; 
}

.project__content button:active {
    transform: scale(0.95); /* уменьшение кнопки при нажатии */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3); /* уменьшение тени */
    background: linear-gradient(139deg, #c9a62e 29.75%, #ae9526 92.41%); /* изменение фона при нажатии */
}

.card-two{
    display: flex;
    justify-content: space-between;
}

.card-two .project__content p{
    margin-bottom: 50px;
}




/* ----------------------- CONTACT -----------------------*/



.contact{
    font-family: "Roboto", serif;
    width: 100%;

    padding-top: 80px;
    padding-bottom: 100px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.contact__container{
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.contact__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact__left h4{
    font-weight: 500;
    font-size: 80px;
    line-height: 112%;
    background: linear-gradient(131deg, #d9af33 19.5%, #aa8c32 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 20px;

    
}

.contact__left p{
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    background: linear-gradient(137deg, #3c414b 0%, #97a0b4 94.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.medium__content h4{
    font-weight: 500;
    font-size: 32px;
    line-height: 106%;
    background: linear-gradient(137deg, #3c414b 0%, #97a0b4 94.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.medium__content h4{
    margin-bottom: 15px;
}

.medium__content a{
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    background: linear-gradient(135deg, #d9af33 19.5%, #aa8c32 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all 0.3s ease;
}

.medium__content a:hover{
    font-size: 26px;

    background: linear-gradient(135deg, #F1C133 19.5%, #F1C133 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.medium__content a:active{
    font-size: 22px;
}

.medium__content p{
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    background: linear-gradient(135deg, #d9af33 19.5%, #aa8c32 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.medium__link{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact__medium div + div{
    padding-top: 60px;;
}

.contact__right div + div{
    padding-top: 120px;;
}

.right__content a{
    padding-left: 10px;
}

.contact__medium{
    padding-right: 60px;
    border-right: 1px solid #000;

    padding-left: 60px;
    border-left: 1px solid #000;
}

.right__content a{
    font-weight: 500;
    font-size: 32px;
    line-height: 106%;
    color: #414751;

    transition: all 0.3s ease;
}

.right__content a:hover {
    color: #F1C133;
    
    font-size: 34px;
}

.right__content a:active {
    color: #d5ac2e;

    font-size: 30px;
}

.right__content a:active {
    background: linear-gradient(137deg, #f39c12 0%, #c5a31b 94.51%); /* изменение градиента при наведении */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(0.95); /* уменьшение текста при нажатии */
}




/* ----------------------- FOOTER -----------------------*/




.footer{
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: "Roboto", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 107%;
    letter-spacing: 0.08em;
    color: var(--quaternary-base);

    display: flex;
    justify-content: center;
    margin: 0 auto;
}













#projectImage_1 img {
    transition: transform 0.6s ease-in-out;
    display: block;
    width: 100%;
}

#projectImage_2 img {
    transition: transform 0.6s ease-in-out;
    display: block;
    width: 100%;
}

#projectImage_3 img {
    transition: transform 0.6s ease-in-out;
    display: block;
    width: 100%;
}


#projectImage_4 img {
    transition: transform 0.6s ease-in-out;
    display: block;
    width: 100%;
}


.slide-out-left {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-in-left {
    transform: translateX(100%);
    opacity: 0;
    animation: slide-in-left 0.6s forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-out-right {
    transform: translateX(100%);
    opacity: 0;
}

.slide-in-right {
    transform: translateX(-100%);
    opacity: 0;
    animation: slide-in-right 0.6s forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



/* 

@media (max-width: 479px) {


    .header__navbar{
        display: flex;
        justify-content: space-around;
    }

    .navbar__list ul{
        display: flex;
        gap: 6px !important ;
    }

    .navbar__list ul li a{
        font-size: 10px  ;
        line-height: 75%;

    }

    .navbar__image img {
        width: 80px !important;  
        height: 30px !important;
    }







    .main__content{
    
        padding: 40px 35px 52px 30px;
        
    }

    .main__content h1{
        max-width: 350px;
        margin-bottom: 10px;
    
        font-weight: 300;
        font-size: 34px;
        line-height: 120%;
        letter-spacing: 0.08em;
    }

    .main__content p{
        max-width: 350px;
    
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.08em;
    }
    








    .services__container{


        display: flex;
        gap: 30px;

        justify-content: center;
    }



    .services__title{
        font-size: 18px;
        line-height: 110%;
        letter-spacing: 0.08em;
        background: linear-gradient(133deg, #d9af33 24%, rgba(170, 140, 50, 0.85) 77.37%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
        padding-left: 0px;
        
        width: 160px !important;
    }


    .services__card{
        padding: 7px 2px 8px 4px;

        max-width: 160px;
    }



    .services__card h2{
        font-size: 14px;
        line-height: 155%;
        letter-spacing: 0.08em;
        width: 160px;
    }
    
    .services__card p{
        font-size: 8px;
        line-height: 140%;
        letter-spacing: 0.08em;
        color: #403f44;
    }

    .icon__container{
        position: absolute;
        top: -25px;
        left: 20px;
        background-color: white;
        padding: 0 10px;
    }

    .garant{
        width: 30px;
        height: 32.14px !important;
    }

    .icon__container img{
        width: 30px !important;
        height: 30px;
    }
} */
